<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/turbo1.jpg"
        alt="Image Coba"
        class="img-thumbnail rounded-circle"
        width="300"
      />
      <div class="display-4">Ahmad Dani</div>
      <p class="lead">Kokop Bangkalan</p>
    </div>
  </div>
</div>
